include ./sampleImages.jade

mixin sampleInput(className, bundle, classifierId)
  - var sampleImages = []
  each val in [1, 2, 3, 4, 5, 6, 7]
    - sampleImages.push('images/samples/' + val + '.jpg')
  - var bundleImages = []
  each val in [0, 1, 2, 3, 4, 5]
    - bundleImages.push('images/bundles/' + bundle + '/test/' + val + '.jpg')

  form(id='#{className}--fileupload', class='#{className}--form #{className}--dropzone hideload', data-upload-template-id='template-upload-#{className}')
    input(id='classifier_id', type='hidden', name='classifier_id', value='#{classifierId || ""}')
    if className == 'use'
      div(class='#{className}--example-images #{className}--example-images_default')
        +sampleImages(sampleImages, className, 'default')
        div(class='#{className}--dropzone square')
          label(class='#{className}--file-input-button base--button', for='#{className}--file')
            div(class='#{className}--file-input-button-big-plus') +
            div(class='#{className}--file-input-button-text')
              span.base--a Select
              |  or drag
          input(id='#{className}--file', class='#{className}--file-input', type='file', name='images_file', accept='image/*', title='Choose an image to upload')
    else
      div(class='#{className}--example-images #{className}--example-images_#{bundle}')
        +sampleImages(bundleImages, className, bundle)

    div(class='#{className}--url')
      div(class='#{className}--invalid-url display-none') Invalid URL
      div(class='#{className}--invalid-image-url display-none') The URL must end with .JPG, .GIF, or .PNG.
      input(class='#{className}--url-input base--input', type='text', placeholder='Or paste an image URL', name='url')
      input(class='#{className}--image-data-input base--input', type='hidden', name='image_data')
